<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    {{ title }}
  </h1>
</div>

<nav>
  <!--  http://localhost:4200/dashboard -->
  <a routerLink="/dashboard">Dashboard</a>
  <!--  http://localhost:4200/heroes -->
  <a routerLink="/heroes">Heroes</a>
  <!--  http://localhost:4200/detail/:id -->
</nav>

<!-- <app-heroes></app-heroes> -->
<!--  tells the router where to display routed views -->
<router-outlet></router-outlet>
<app-messages></app-messages>
